<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-contain">
    {{>header}}
    <img src="/img/per.jpg" alt="">
    <h1 id="name">Matt Stangl</h1>
    <p><strong>I</strong> am a Software Developer for Emerson.</p>
    <p id="about-app">This sites was created by Matt Stangl. This is updated!</p>
    </div>
    {{>footer}}
</body>
</html>